$version: random( 1000 );
$background-color: #000;
$primary-color: #fff;
$accent-color: #EB4D55;

$site-padding-sm: 1rem;
$site-padding-lg: 2rem;
$site-width: 1440px;
$site-content-width: 702px;
$site-content-width-wide: 940px;

$content-padding: 2rem;

$breakpoint-sm: 608px;

$z-index-nav: 1000;
