@import 'variables';

.wp-block-latest-posts {
	.wp-block-image {
		margin: 1rem 0;
	}
}

.wp-block-latest-posts.is-grid {
	li {
		margin: 0 2rem 2rem 0;
	}
}

.wp-block-latest-posts.columns-3 {
	li {
		@media screen and (min-width: 600px){
			width: calc(33.33333% - 2rem);
		}
	}
}

.entry-content {
	.wp-block-latest-posts {
		li {
			margin-bottom: 10rem;
		}
	}
}

@media screen and (min-width: $breakpoint-sm) {
	.entry-content {
		.wp-block-latest-posts {
			max-width: 30vw;
			li:nth-child(odd){
				transform: translateX(60vw);
			}
			li {
				margin-bottom: -4rem;
			}
		}
	}
}
