@import 'variables';
@import 'normalize';
@import 'standardize';
@import 'typography';
@import 'utilities';

html {
	background: #000;
	margin: 0;
	padding: 0;
}
body {
	color: $primary-color;
	font-family: 'Violet Sans';
	font-weight: lighter;
	font-size: 18px;
}

.site-bg {
	background-color: #000;
	background-image: url('../assets/logo.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: fixed;
	height: 100vh;
	top: 0;
	width: 100vw;
	z-index: -100;
}

.site-content {
	background: transparent;
	&.home {
		padding: 100vh $site-padding-sm $site-padding-sm !important;
	}
}

.post-title >h1 {
	margin-bottom: 0;
}

.entry-content > .alignwide,
.site-header > .alignwide
.site-footer > .alignwide {
	max-width: none;
}

.entry-content {
	margin: 0 auto;
}

@media screen and (min-width: $breakpoint-sm) {
	.entry-content > *,
	.site-header > *,
	.site-footer > *,
	.site-content > h1 {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: $content-padding;
		max-width: none;
	}
	.site-content {
		padding: 0 $site-padding-lg;
	}
}

@import 'header';
